*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
border: solid;
width: 200px;
height: 200px;
background-color: yellow;
font-size: 20;
}

#container{
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
flex-wrap: nowrap;
gap: 5px;
/* espacio entre cajas */
height: 100vh;
background-color: gray;
}