* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
    margin: 0; /* Elimina el margen predeterminado del body */
}

.base {
    width: 90%; /* Ancho relativo al contenedor padre */
    max-width: 300px; /* Ancho máximo para evitar que se estire demasiado */
    height: auto; /* Altura automática para adaptarse al contenido */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 20px; /* Añade margen para separar el card de los bordes de la pantalla */
}

.image {
    background-image: linear-gradient(to right, red, gold);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Altura automática */
    position: relative;
    z-index: 1;
}

.image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(40px) saturate(400%);
    z-index: -1;
}

.image img.goku {
    width: 100%; /* Ancho relativo al contenedor padre */
    max-width: 300px; /* Ancho máximo para evitar que se estire demasiado */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image:hover img.goku {
    transform: scale(1.2);
}

.datos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    color: black;
    height: auto; /* Altura automática */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.titulo {
    margin-top: 12px;
    font-size: 1.2em;
    font-weight: bold;
}

.valor {
    font-size: 1em;
    font-weight: normal;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .base {
        width: 95%; /* Aumenta el ancho en pantallas pequeñas */
    }
}