header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

h1 {
    font-size: 3rem;
}

.icono-git {
    width: 4rem;
}