* {
    margin: 0;
    padding: 0;
}

#movil {
    background-color: aqua;
    height: 100vh;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "nav"
        "main"
    ;

    nav {
        height: 10vh;
        background-color: black;
        color: aliceblue;       

        #menu {
            text-align: center;
            font-size: 1rem;
            height: 10vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "logo menu";

            #menum {
                grid-area: menu;
                background-color: #3D8D7A;
            }

            #menulog {
                grid-area: logo;
                background-color: #3D8D7A;

            }

        }
    }
    main{
        height: 90vh;
        background-color:cadetblue;

        .lorem {
            margin: 20px;
            text-align: justify;
        } 
    }
}